body {
    font-family: 'Courier New', sans-serif, monospace;
    /* removing default margin of the body */
    margin: 0;
    /* height = height of viewbox */
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body>* {
    padding: 0 200px 0 200px;
}

ul {
    list-style-type: none;
    padding: 0px;
    display: flex;
    gap: 16px;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    height: 100px;
    /* Prevent over-shrinkage of the header */
    flex: 0 0 auto;
}

.header a {
    color: #F9FAF8;
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
}

.hero-container {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 18px;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    /* item wrapping to better accomodate page shrinking */
    flex-wrap: wrap;
}

.hero-content {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    flex: 1;
}

.hero-content .message {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;

}

.hero-content .about {
    margin: 10px 0 10px 0;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-content .support {
    font-size: 12px;
    color: #E5E7EB;
}

.hero-container img {
    /* width and height added to allow flex shrinking */
    width: 100%;
    height: auto;
    /* ensures images takes up the same screen real estate unless the screen
    is very small. */
    flex: 0 1 0;
}

.rand-inf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.rand-inf h2 {
    font-size: 32px;
}

.rand-inf .items {
    display: flex;
    text-align: center;
    gap: 10px;
    flex-wrap: wrap;
}

.items >* {
    flex: 1;
}

.items img {
    border-color: #3882F6;
    border-style: solid;
    border-radius: 10px;
}

/* ensuring subtext is centered with its img at all time. */
.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtext {
    font-size: 12px;
    color: #2F4F4F;
    max-width: 200px;
}

.awe-inspiring-quote {
    background-color: #E5E7EB;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
}

.quote-container .quote {
    font-size: 36px;
}

.quote-container .quote-auth {
    margin-left: auto;
}

.popup {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* ensures popup takes up all available space 'allocated' to it */
    flex: 1;
}

.popup .bubble {
    background-color: #3882F6;
    padding: 16px 32px;
    border-radius: 8px;
    color: #F9FAF8;
    display: flex;
    justify-self: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 800px
}

.popup button {
    /* min values ensures the button doesn't deform */
    min-width: 100px;
    min-height: 30px;
    margin-left: auto;
    background-color: #3882F6;
    color: #F9FAF8;
    border-color: #F9FAF8;
    border-style: solid;
    border-radius: 5px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
    background-color: #1F2937;
    color: #F9FAF8;
    height: 90px;
    /* Prevent over-shrinkage of the footer */
    flex: 0 0 auto;
}

